.vscode/
*.h
*.h.*
*.bin
*.pdb
*.o
*.obj
*.core
!test_data/foozy/foozy.expected.h
!test_data/the_system/my_system.h
test_data/*.ppp.*
test_data/*.pp.*
test_data/*.ppp-pp.*
test_data/example_runestone.ini
test_data/generate_runestone.ini
test_data/bindings.odin
test_data/bindings.h
test_data/foo.odin
test_data/*.ppm
test_data/write_to_handle
test_data/extern_test_runestone.ini
test_data/extern_test.odin
test_data/wrapper_out*
test_data/test_odin_to_multiple_files*.odin
build/
ols.json
examples/olivec/olivec/
examples/glew/gl/
